asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
contextlib2==0.6.0.post1
Django==3.0.12
django-opentracing==1.1.0
future==0.18.2
idna==2.8
jaeger-client==4.3.0
opentracing==2.3.0
pytz==2019.3
requests==2.22.0
six==1.14.0
sqlparse==0.3.0
threadloop==1.0.2
thrift==0.13.0
tornado==5.1.1
urllib3==1.25.8
wrapt==1.11.2
